<div class="wrap-input100 validate-input" data-validate="Password is required">
    <input class="input100" type="password" name="pass">
    <span class="focus-input100"></span>
    <span class="label-input100">Password</span>
</div>